body {
    background-color: rgb(41, 169, 212);
}

h1, h2, p, span {
    margin-top: 1rem;
    font-size: 20px;
    text-align: center;
    color: yellow;
    font-weight: bold;
}

.username {
    border: 2px solid yellowgreen;
    width: 50%;
    margin: 1rem auto;
}

